$bkgrd-color: #082B59;
$secondary-orange: #d98555;
$brown: #59331d;
$white: #ffffff;
$off-white: #f2f2f2;

$standard-margin: 10px;
$no-margin: 0;
$auto-margin: auto;

$header-font: 'Poppins', sans-serif;
$body-font: 'Lato', sans-serif;